<suite name="MyTestSuite">
	<listeners>
		<listener class-name="utilities.ExtentReportUtils" />
	</listeners>
	<test name="ChromeTest">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="testCases.ManageFooterPageTestCases"></class> 
		</classes>
	</test>
</suite>